.custom-dropzone {
  display: inline-block;
  padding: 16px;
  border: 2px dashed #5a0b45;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.custom-dropzone:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.dropzone-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}

.icon {
  font-size: 80px;
  margin-bottom: 8px;
  cursor: pointer;
}

.text {
  font-size: 14px;
  color: #555;
  cursor: pointer;
}
.label {
  cursor: pointer;
}


